@import "../../../colors.less";
@import "../../../mixins.less";
@import "../../../spacing.less";

.json-schema { 
    background-color: #373737;
    color: white;
    padding: @baseSpacing;
    border-radius: @borderRadius; 
    
    .schema-node {
        font-family: monospace;
        
        & > .schema-node {
            margin-left: @doubleSpacing;
        }
        
        .node-title {
            padding-right: @halfSpacing;
            &:after {
                content: ':';
            }
        }
        
        .node-type {
            color: #79AEDF;
            font-style: italic;
            
            .type-value {
                .spaceAfterIfNotLast();
            }
        }
        
        .node-required {
            &:before {
                content: '*';
                color: #E7C14F;
                padding-left: @baseSpacing;
            }
        }
        
        .node-range {
            padding-left: @halfSpacing;
            color: @optionalTextColor;            
        }
        
        .node-description {
            color: @optionalTextColor;
            display: block;
            font-size: smaller;
            font-family: sans-serif;
            margin-bottom: @halfSpacing;
        }
        
        &:after {
            display: block;
        }
    }
    
    .array-node {
       > .node-tag {
            &:after {
                content: '[';
            }
        }
        
        &:after {
            content: ']';
        }
        
        > .node-item-type {
            margin-left: @baseSpacing;
        }
    }
    
    .enum-node {
        display: inline;
        &:before {
            content: '[';
        }
        
        &:after {
            content: ']';
            display: inline;
        }
        
        .node-enum {
            display: block;
            margin-left: @baseSpacing;
        }
    }
    
    .object-node {
       > .node-tag {
            &:after {
                content: '{';
            }
        }
        
        &:after {
            content: '}';
        }
    }
}