@import "../../spacing.less";

@imageLinkWidth: 380px;

.image-links-centered {
    text-align: center;
    max-width: 3 * @imageLinkWidth;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.api-overview-sections .external-docs {
    text-align: center;
    margin: @doubleSpacing 0;
}